
@{
    ViewData["Title"] = "Index";
}


<section id="contact">
    <h3 class="contact"> Contact</h3>
        <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget urna iaculis, efficitur felis at, venenatis est. <br />
            Nullam convallis, velit eu varius bibendum, lectus justo consequat tortor, sed commodo enim augue ut lectus. Vestibulum a <br />
            blandit sapien id, sagittis orci. Praesent sed orci nec tortor efficitur varius. Sed tempor massa nec lorem sagittis, ac.
        </p>
           
        <ul id="Contacts">
            <li class="ContactsContactsItem">Adress: <br /><address><a href="#" target="_blank" class="btn btn-sm btn-secondary navbar-btn">ParadigmWatch.com</a></address></li>
            <li class="ContactsContactsItem">Adress: <br /><address>Example</address></li>
            <li class="ContactsContactsItem">Phone: <br /><address>09 999 9999 99</address></li>
            <li class="ContactsContactsItem">Email: <br />info@paradimgwatch.com</li>
        </ul>
</section>