@using ParadigmWatch.Models.ViewModels;
@using ParadigmWatch.Models;
@using ParadigmWatch.Infrastructure;

@model WatchViewModel


@{
    ViewData["Title"] = Model.Watch.Name;
}



<p id="startingModel" class="hidden">@Model.Watch.Name</p>



    @*<p id="jsonFile">@JsonSerializer.Serialize(Model.WatchInitModel)</p>*@



<div id="threeGui">

    <ul id="GUI">

      
    </ul>
</div>



<div id="canvas" class="ThreeDBackgroundSelector">
    <select onselect="getBGname()" id="bgDropDown" href="#">
        @foreach (var item in ViewBag.BGNames)
        {
            <option>@item.Text</option>
        }
    </select>
</div>


<script type="text/javascript" src="~/js/WatchPartsJSON.js"></script>
<script src="~/js/Three.js"></script>
<script src="~/js/GLTFLoader.js" type="module"></script>
<script src="~/js/TrackballControls.js" type="module"></script>
<script src="~/js/3dPlayground.js" type="module"></script>
