@using ParadigmWatch.Models.ViewModels;
@using ParadigmWatch.Models;
@using ParadigmWatch.Infrastructure;
@using Newtonsoft.Json;
@model WatchViewModel


@{
    ViewData["Title"] = Model.Watch.Name;
}



<div id="ThreeDPage">

    <div class="load">
        <div id="loaderContainer">

        </div>
    </div>


    <div class="guiContainer">
        <div id="threeGui">

            <ul id="GUI">
            </ul>
        </div>
    </div>

    <div class="buttonContainer">
        <button class="btn secbtn">Add to cart</button>
        <button class="btn prmbtn">Config Details</button>
    </div>


    <div id="ThreeDBackgroundSelector">
        <select id="bgDropDown">
            @foreach (var item in ViewBag.BGNames)
            {
                <option id="bgOption" class="backgroundOption">@item.Text</option>
            }
        </select>
    </div>


    <p id="watchId" class="hidden">@Model.Watch.Id</p>

    <div id="canvas" class="ThreeDBackgroundSelector">

    </div>

</div>


<script type="text/javascript" src="~/js/WatchPartsJSON.js"></script>
<script src="~/js/Three.js"></script>
<script src="~/js/GLTFLoader.js" type="module"></script>
<script src="~/js/TrackballControls.js" type="module"></script>
<script src="~/js/3dPlayground.js" type="module"></script>
