
@{
    ViewData["Title"] = "Index";
}

<div id="canvas"></div>


<script src="~/js/Three.js" type="module"></script>
<script src="~/js/OBJLoader.js" type="module"></script>
<script src="~/js/3dPlayground.js" type="module"></script>