    <footer>
        <div id="share">
            <h3 class="subTitle">Share:</h3>
            <ul class="SocialMediaIcons">
                <li class="MediaLink"><a href="#">I</a></li>
                <li class="MediaLink"><a href="#">F</a></li>
                <li class="MediaLink"><a href="#">L</a></li>
                <li class="MediaLink"><a href="#">P</a></li>
                <li class="MediaLink"><a href="#">Y</a></li>
            </ul>

        </div>
        <div id="footerContent">
            <ul id="footerlinks">
                ASD
                <li class="footerLinkItem"><a id="active" asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="footerLinkItem"><a id="active" asp-action="Index" asp-controller="Store">Store</a></li>
                <li class="footerLinkItem"><a id="active" asp-action="Index" asp-controller="About">About</a></li>
                <li class="footerLinkItem"><a id="active" asp-action="Index" asp-controller="Contact">Contact</a></li>
                <li class="footerLinkItem"><a id="active" asp-action="Index" asp-controller="Login">Login / Register</a></li>
            </ul>
            <ul id="footerContacts">
                Title
                <li class="footerContactsItem">Adress: <br /><address>Example</address></li>
                <li class="footerContactsItem">Phone: <br /><address>09 999 9999 99</address></li>
                <li class="footerContactsItem">Email: <br />info@paradimgwatch.com</li>
            </ul>
        </div>
    </footer>