<!DOCTYPE html>

<html>
<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,500,700" rel="stylesheet" />
    <link href="~/css/Login.css" rel="stylesheet" />
    <link href="~/css/Style.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
   


    <div id="page">
        <nav>
           <div class="logo">
               <img src="~/Images/Logo.png" alt="Logo"/>
               <h2>Paradigm<br />Watch</h2>
           </div>
           <div class="mobileContainer">
               <div class="burgerMenu">
                   <div class="line"></div>
                   <div class="line"></div>
                   <div class="line"></div>
               </div>
               <ul class="navigation">
                   <li class="navigationItem"><a href="#">Home</a></li>
                   <li class="navigationItem"><a href="#">Store</a></li>
                   <li class="navigationItem"><a href="#">About</a></li>
                   <li class="navigationItem"><a href="#">Contact</a></li>
               </ul>
               <ul class="login">
                   <li class="loginItem"><a href="#">&#9898; Cart</a></li>
                   <li class="loginItem"><a href="#">&#9898; Favorites</a></li>
                   <li class="loginItem"><a href="#">Login / Register</a></li>
               </ul>
           </div>

        </nav>


        @RenderBody()


        <footer>
            <div id="share">
                <h3 class="subTitle">Share:</h3>
                <ul class="SocialMediaIcons">
                    <li class="MediaLink">I</li>
                    <li class="MediaLink">F</li>
                    <li class="MediaLink">L</li>
                    <li class="MediaLink">P</li>
                    <li class="MediaLink">Y</li>
                </ul>

            </div>
            <div id="footerContent">

                <ul id="footerlinks">
                    ASD
                    <li class="footerLinkItem">A</li>
                    <li class="footerLinkItem">B</li>
                    <li class="footerLinkItem">C</li>
                    <li class="footerLinkItem">D</li>
                </ul>
                <ul id="footerContacts">
                    Title
                    <li class="footerContactsItem">ASD</li>
                    <li class="footerContactsItem">asdasdasd</li>
                    <li class="footerContactsItem">asdasdasd</li>
                </ul>
            </div>
        </footer>
    </div>

</body>
</html>
