<nav>
    <div id="navContent">
        <div class="logo">
            <img src="~/Images/Logo.png" alt="Logo" />
            <h2>Paradigm<br />Watch</h2>
        </div>
        <div class="mobileContainer">
            <div class="burgerMenu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="navigation">
                <li class="navigationItem ">
                <a id="active"  asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="navigationItem">
                <a asp-action="Index" asp-controller="Store">Store</a></li>
                <li class="navigationItem"><a href="#">About</a></li>
                <li class="navigationItem"><a href="#">Contact</a></li>
            </ul>
            <ul class="login">
                <li class="loginItem"><a href="#">&#9898; Cart</a></li>
                <li class="loginItem"><a href="#">&#9898; Favorites</a></li>
                <li class="loginItem"><a href="#">Login / Register</a></li>
            </ul>
        </div>
    </div>
</nav>