
@{
    ViewData["Title"] = "Index";
}

    

        @* ______________________________________            NEW SECTION           _________________________________________________ *@

        <section id="identityContainer">
           
            <div class="identityForm">

                <div class="identityRegister">
                    <div class="loginContent">
                        <div class="container">

                            <div class="bg-primary m-1 p-1 text-white identityCenter">
                                <h2 class="identityTitle">Register</h2>
                                <p class="identityText">and get 10% off
                                <p class="identityText">every product!
                            </div>
                            <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                                <ul>
                                    <li style="display:none"></li>
                                </ul>
                            </div>
                            <form method="post" action="/Account/Login">
                                <input type="hidden" name="returnUrl" value="/" />
                                <div class="form-RegGroup">
                                    <label for="FirstName">First name</label><br />
                                    <input class="form-control idnetityFormRegistration" type="text" data-val="true" data-val-required="Field is required." id="FirstName" name="FirstName" value="John..." />
                                </div>
                                <div class="form-RegGroup">
                                    <label for="LastName">Last name</label><br />
                                    <input class="form-control idnetityFormRegistration" type="text" data-val="true" data-val-required="Field is required." id="LastName" name="LastName" value="Smith..." />
                                </div>
                                <div class="form-RegGroup">
                                    <label for="Email">Email</label><br />

                                    <input class="form-control idnetityFormRegistration" type="text" data-val="true" data-val-required="Field is required." id="Email" name="Email" value="example@email.com..." />
                                </div>
                                <div class="form-RegGroup">
                                    <label for="password">Password</label><br />
                                    <input class="form-control idnetityFormRegistration" type="password" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" value="your password" />
                                </div>
                                <div class="form-RegGroup">
                                    <label for="city">City</label><br />
                                    <input class="form-control idnetityFormRegistration" type="text" data-val="true" data-val-required="Field is required." id="City" name="City" value="Los Angeles" />
                                </div>
                                <div class="form-RegGroup">
                                    <label for="adress">Adress</label><br />
                                    <input class="form-control idnetityFormRegistration" type="adress" data-val="true" data-val-required="Field is required." id="Adress" name="Adress" value="Moholan drive" />
                                </div>
                                <div class="form-RegGroup">
                                    <label for="portel">Portel code</label><br />
                                    <input class="form-control idnetityFormRegistration" type="text" data-val="true" data-val-required="Field is required." id="PortelCode" name="PortelCode" value="Portel code" />
                                </div>
                                <div class="identityLetter">
                                    <ul>
                                        <li style="list-style:circle">
                                            <p>I agree <p>privacy policy
                                        </li>
                                        <li style="list-style:circle">
                                            <p>I subscribe <p>newsletter
                                        </li>
                                    </ul>
                                </div>
                                <button class="btn btn-primary identityRegBtn" type="submit">Register now</button>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8I0AKu4iJ_lJg6IiUju-bl6tFEbk6y1O1uzQjJ67xx0Ww5b8qkSbJ9KmJG6eXB_URzBsU05iNJ4PwPQgk8sNoJdqD8QARizqC5LCd67J502GMxwvJ9YWbrmv0b41ehe-EALlcTr02o2EDwv9wSukLIs" />
                            </form>
                        </div>
                    </div>

                </div>

                <div class="identityLogin">
                    <div class="loginContent">
                        <div class="container">

                            <div class="bg-primary m-1 p-1 text-white identityCenter"><h4>Log In</h4></div>
                            <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                                <ul>
                                    <li style="display:none"></li>
                                </ul>
                            </div>
                            <form method="post" action="/Account/Login">
                                <input type="hidden" name="returnUrl" value="/" />
                                <div class="form-group">
                                    <label for="Email">Name</label><br />
                                    <input class="form-control" type="text" data-val="true" data-val-required="The Email field is required." id="Email" name="Email" value="your email" />
                                </div>
                                <div class="form-group">
                                    <label for="Password">Password</label><br />
                                    <input class="form-control" type="password" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" value="your password" />
                                </div>
                                <button class="btn btn-primary identityLoginBtn" type="submit">Submit</button>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8I0AKu4iJ_lJg6IiUju-bl6tFEbk6y1O1uzQjJ67xx0Ww5b8qkSbJ9KmJG6eXB_URzBsU05iNJ4PwPQgk8sNoJdqD8QARizqC5LCd67J502GMxwvJ9YWbrmv0b41ehe-EALlcTr02o2EDwv9wSukLIs" />
                            </form>
                            <p>forget passwords?</p>
                        </div>
                    </div>
                </div>
            </div>
           
        </section>

        @* ______________________________________            NEW SECTION           _________________________________________________ *@

       
        @* ______________________________________            NEW SECTION           _________________________________________________ *@

