@using ParadigmWatch.Models;
@model IEnumerable<Watch>;

@{
    ViewData["Title"] = "YouMayAlsoLike";
}


@foreach (var item in Model)
{
    <div class="productContainer">
        <a class="productImage">
            <img src="~/Images/@item.WatchImagePath" alt="" />
        </a>
        <div class="productDescription">
            <h2>@item.Name</h2>
            <p>@item.Description</p>
        </div>
    </div>
}

