
@{
    ViewData["Title"] = "Index";
}


<section id="about">
    <div id="aboutContent">
        <h3 class="about"> About</h3>
        <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget urna iaculis, efficitur felis at, venenatis est. <br />
            Nullam convallis, velit eu varius bibendum, lectus justo consequat tortor, sed commodo enim augue ut lectus. Vestibulum a <br />
            blandit sapien id, sagittis orci. Praesent sed orci nec tortor efficitur varius. Sed tempor massa nec lorem sagittis, ac.
        </p>
    </div>



    <div id="aboutContent">
        <ul id="aboutText">
            <p class="placeText"> Europa</p>
            <li class="aboutContactsItem aboutTexttop">
                <br />  <p class="abouttext">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget urna iaculis, efficitur felis at, venenatis est. <br />
                    Nullam convallis, velit eu varius bibendum, lectus justo consequat tortor, sed commodo enim augue ut lectus. Vestibulum a <br />
                    blandit sapien id, sagittis orci. Praesent sed orci nec tortor efficitur varius. Sed tempor massa nec lorem sagittis, ac.
                </p>
            </li>
            <li class="aboutContactsItem abouttext">Phone: <br /><address>09 999 9999 99</address></li>
            <li class="aboutContactsItem abouttext">Email: <br />info@paradimgwatch.com</li>
        </ul>
        <ul id="aboutText">
            <p class="placeText"> Asia</p>
            <li class="aboutContactsItem aboutTexttop">
                <br />  <p class="abouttext">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget urna iaculis, efficitur felis at, venenatis est. <br />
                    Nullam convallis, velit eu varius bibendum, lectus justo consequat tortor, sed commodo enim augue ut lectus. Vestibulum a <br />
                    blandit sapien id, sagittis orci. Praesent sed orci nec tortor efficitur varius. Sed tempor massa nec lorem sagittis, ac.
                </p>
            </li>
            <li class="aboutContactsItem abouttext">Phone: <br /><address >09 999 9999 99</address></li>
            <li class="aboutContactsItem abouttext">Email: <br />info@paradimgwatch.com</li>
        </ul>
    </div>

</section>