@using ParadigmWatch.Models.ViewModels
@model LoginModel

<div class="loginContent">
    <div class="container">

        <div class="bg-primary why p-1 text-white  identityCenter"><h4>Log In</h4></div>
        <div class="text-danger" summary="All"></div>
        <ul>
            <li style="display:none"></li>
        </ul>
    </div>
    <div asp-validation-summary=" All" class="text-danger"></div>
    <form method="post" asp-action="Index">
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <div class="form-group">
            <label asp-for="Email">Name</label><br />
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label><br />
            <input asp-for="Password" class="form-control" />
        </div>
        <button class="btn btn-primary identityLoginBtn" type="submit">Submit</button>
    </form>
    <a href="#">forget passwords?</a>
</div>